<!DOCTYPE HTML>
<html>
    <head>
        <title>{{ pageName }} - AnonyPages</title>
        <meta charset="utf-8" />
        <base target="_blank" href="/"/>
        <link href="favicon.ico" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="assets/css/main.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
        <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
        <script src='https://www.google.com/recaptcha/api.js' async></script>
    </head>
    <body>
        <form method="post" action="/page/{{ pageID }}/post" id="mainForm" target="_self">
            <!-- Header -->
                <section id="header">
                    <header class="major">
                        <h1>{{ pageName }}</h1>
                        <p id="title_message">
                            {{ i18n.post_anonymously_to }}<a href="https://fb.com/{{ pageID }}">{{ pageName }}</a>{{ i18n.exclamation_mark }}
                        </p>
                    </header>
                    <div class="container">
                        <ul class="actions">
                            <li><a href="#one" class="button special scrolly" id="firstBtnTitle">{{ i18n.next_step|title }}</a></li>
                        </ul>
                    </div>
                </section>

            <!-- One -->
                <section id="one" class="main special">
                    <div class="container">
                        <div class="content">
                            <header class="major">
                                <h2>{{ i18n.terms_of_service|title }}</h2>
                            </header>
                            <p>
                                <textarea class="noresize{" rows="15" readonly>{{ Terms|safe }}</textarea>
                            </p>
                        </div>
                        <a href="#two" class="goto-next scrolly">{{ i18n.i_have_read_tos_carefully|title }}</a>
                    </div>
                </section>

            <!-- Two -->
                <section id="two" class="main special">
                    <div class="container">
                        <div class="content">
                            <header class="major">
                                <h2>{{ i18n.human_verification|title }}</h2>
                            </header>
                            <div class="g-recaptcha" data-sitekey="{{ gRsitekey }}"></div>
                        </div>
                        <a href="#footer" class="goto-next scrolly">{{ i18n.next_step|title }}</a>
                    </div>
                </section>

            <!-- Footer -->
                <section id="footer">
                    <div class="container">
                        <header class="major">
                            <h2>{{ postLabel }}</h2>
                        </header>

                            <div class="row uniform">
                                <div class="12u$">
                                    <textarea name="message" id="message" placeholder="{{ postPlaceholder }}" rows="8" style="resize: vertical"></textarea>
                                </div>
                                <div class="12u$">
                                    <ul class="actions">
                                        <!-- Post! -->
                                        <li><input type="submit" id="submitBtn" value="{{ i18n.post }}" class="special" /></li>
                                    </ul>
                                </div>
                            </div>


                        </form>
                    </div>
                    <footer>
                        <ul class="copyright">
                            <li>&copy; AnonyPages</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li><li>Github: <a href="https://github.com/BirkhoffLee/AnonyPages">BirkhoffLee/AnonyPages</a></li>
                        </ul>
                    </footer>
                </section>

            <input type="hidden" id="action" name="action" value="post" />
        </form>

        <!-- Scripts -->
            <script>
                window.fb_app_id = {{ fb_app_id }};
                AnonyPages = {};
                AnonyPages.i18n = {};
                AnonyPages.i18n.go_to_your_post = "{{ i18n.nagivate_to_your_post|addslashes }}";
                AnonyPages.i18n.its_hashtag_is = "{{ i18n.its_hashtag_is|addslashes }}";
                AnonyPages.i18n.posting = "{{ i18n.posting|addslashes }}";
                AnonyPages.i18n.post_again = "{{ i18n.post_again|addslashes|title }}";
                AnonyPages.i18n.scroll_to_top = "{{ i18n.scroll_to_top|addslashes|title }}";
            </script>

            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/jquery.scrollex.min.js"></script>
            <script src="assets/js/jquery.scrolly.min.js"></script>
            <script src="assets/js/skel.min.js"></script>
            <script src="assets/js/util.js"></script>
            <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
            <script src="assets/js/main.js"></script>
            <script src="scripts/ajax.js"></script>
    </body>
</html>
