<!DOCTYPE HTML>
<html>
    <head>
        <title>{{ siteName }} - AnonyPages</title>
        <meta charset="utf-8" />
        <base target="_blank" href="../"/>
        <link href="favicon.ico" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="assets/css/main.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
        <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
        <script src='https://www.google.com/recaptcha/api.js' async></script>
    </head>
    <body>
        <form method="post" action="/page/{{ pageID }}/send" target="_self">
            <!-- Header -->
                <section id="header">
                    <header class="major">
                        <h1>{{ siteName }}</h1>
                        <!-- Post an article to {{ pageName }} anonymously! -->
                        <p>匿名發佈貼文到 <a href="pageUrl">{{ pageName }}</a>！</p>
                    </header>
                    <div class="container">
                        <ul class="actions">
                            <!-- Continue -->
                            <li><a href="#one" class="button special scrolly">繼續</a></li>
                        </ul>
                    </div>
                </section>

            <!-- One -->
                <section id="one" class="main special">
                    <div class="container">
                        <div class="content">
                            <header class="major">
                                <!-- Terms of Service -->
                                <h2>服務條款</h2>
                            </header>
                            <p>{{ Terms }}</p>
                        </div>
                        <!-- I have read the terms carefully -->
                        <a href="#two" class="goto-next scrolly">我已詳閱條款</a>
                    </div>
                </section>

            <!-- Two -->
                <section id="two" class="main special">
                    <div class="container">
                        <div class="content">
                            <header class="major">
                                <!-- Human Verification -->
                                <h2>人類驗證</h2>
                            </header>
                            <div class="g-recaptcha" data-sitekey="{{ gRsitekey }}"></div>
                        </div>
                        <!-- Continue -->
                        <a href="#footer" class="goto-next scrolly">繼續</a>
                    </div>
                </section>

            <!-- Footer -->
                <section id="footer">
                    <div class="container">
                        <header class="major">
                            <h2>{{ postLabel }}</h2>
                        </header>

                            <div class="row uniform">
                                <div class="12u$"><textarea name="message" id="message" placeholder="{{ postPlaceholder }}" rows="8"></textarea></div>
                                <div class="12u$">
                                    <ul class="actions">
                                        <!-- Post! -->
                                        <li><input type="submit" value="靠北！" class="special" /></li>
                                    </ul>
                                </div>
                            </div>


                        </form>
                    </div>
                    <footer>
                        <ul class="copyright">
                            <li>&copy; AnonyPages</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li><li>Github: <a href="https://github.com/BirkhoffLee/AnonyPages">BirkhoffLee/AnonyPages</a></li>
                        </ul>
                    </footer>
                </section>

            <input type="hidden" id="action" name="action" value="post" />
        </form>

        <!-- Scripts -->
            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/jquery.scrollex.min.js"></script>
            <script src="assets/js/jquery.scrolly.min.js"></script>
            <script src="assets/js/skel.min.js"></script>
            <script src="assets/js/util.js"></script>
            <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
            <script src="assets/js/main.js"></script>

    </body>
</html>
